<!DOCTYPE html>
{% extends 'admin/my_base_site.html' %} 
{% block content %}
<html>
    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}');
        {% endfor %}
    </script>
    {% endif %}
    <body>
            <table>
                <thead>
                    {% for infoname in infolist %}
                    <th><h3>   {{ infoname }}   </h3></th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for item in queryset %}
                    {% for information in item %}
                    <th><h4>    {{ information }}   </h4></th>
                    {% endfor %}    
                    {% endfor %}
                </tbody>
            </table>
            <p></p>
    <form class="form" id="form0" method="POST">
    {% csrf_token %}
    <div>
    <div>
        <label class=form-label>New username</label>
        <div>
            <input type="text" name="username">
        </div>
    </div>
    <p></p>
    <div>
        <label class=form-label>New email</label>
        <div>
            <input type="email" name="email"
            autocomplete="off">
        </div>
    </div>
    <p></p>
    <div>
        <label class=form-label>New first name</label>
        <div>
            <input type="text" name="firstname"
            autocomplete="off">
        </div>
    </div>
    <p></p>
    <div>
        <label class=form-label>New last name</label>
        <div>
            <input type="text" name="lastname"
            autocomplete="off">
        </div>
    </div>

    <div>
        <p></p><strong style='color: red;'>AT LEAST ONE NEW INFORMATION REQUIRED!<strong><p></p>
        </div>
        {% load static %}
        <link rel='stylesheet' type='text/css' href="{% static 'mainbody/button.css' %}" />
        <div>
            <a href="http://127.0.0.1:8000/manage_inf"><button class="button-left" style="font-size:110%">submit</button></a>
        </div>
    </form>
    </div>
    </body>


</html>
{% endblock %}

