<!DOCTYPE html>
<html lang='en'>
    <head>
        {% extends 'admin/my_base_site.html' %} 
        {% load static %}
        <link rel="stylesheet" type="text/css" href="mainbody/layout.css"/>
        {% block title %}Asset management system{% endblock %}
    </head>

    {% block content%}
    <body>
        {% include 'user/sidebar.html' %} 
        {% csrf_token %}
        {% if queryset %} <!-- queryset is not empty. -->
        <!-- The following part is to view own check-out items.-->
        <h4 style="font-family:Courier New;">The assets assigned to you</h4>
        <table>
            <thead><tr>
                    <th>Asset name</th>
                    <th>Check-out date</th>
                </tr></thead>
            <tbody>
                <tr>
                    {%for asset in queryset%}
                    <tr>
                    {%for inf in asset%}
                    <td>{{ inf }}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}<!-- corresponds to the if at line 5 (to check if queryset empty)-->
        <p>There is no asset assigned to you yet.</p>
    {% endif %}<!-- corresponds to the if at line 5 (to check if queryset empty)-->
{% endblock %}
</body>
</html>