<!DOCTYPE html>
{% extends 'admin/my_login_base.html' %} 
{% block content %}
<html lang="en">
    <head>
        {% load static%}    
        <link rel='stylesheet' type='text/css' href="{% static 'mainbody/layout.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'mainbody/button.css' %}" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
        <div>
            <center>
            <form class="form" id="form0" method="POST">
                {% csrf_token %}
                {% comment %} input username {% endcomment %}
                <div style>
                    <h1 style="margin-bottom:10px;">user name</h1>
                    <div>
                        <input type="text" name="username" placeholder="Please input user name"
                        autocomplete="off">
                    </div>
                </div>   
                <p></p><p></p>
                {% comment %} input password {% endcomment %}
                <div>
                    <h1 style="margin-bottom:10px;">password</h1>
                    <div>
                        <input type="password" name="password" placeholder="Please input password"
                        autocomplete="off">
                    </div>
                </div>
                <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            </center>
        </div>  
                <p></p><p></p>
                {% comment %} submit {% endcomment %}
                <div align="center">
                    <button class="button-left" style="height:30px;">submit</button>
                    <button class="button-right" style="height:30px;"type="reset">reset</button>
                </div>
            </form>
        </div>
    </body>
    <script>
        layui.use('form', function(){
            var form = layui.form;
            form.on('submit(form0)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false
                })
            })
    </script>
</html>
{% endblock %}