<!DOCTYPE html>
{% extends 'admin/my_base_site.html' %}
{% block title %}Forgot password{% endblock %}

{% block content %}
{% include 'user/sidebar.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainbody/button.css' %}" type="text/css" />
    <form action="" method="POST">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
        <p>{{ form.email.label_tag }} {{ form.email }}</p>
        <input type="submit" class="button-left" value="Reset button">
    </form>
{% endblock %} 