button{
    width:100%;
    text-align:center;
    padding:8px 8px;
    border:none;
}

.button-left{
    width:90px;
    height: 40px;
    background-color: #ebebeb;
    margin-right:15px;
    border-radius: 4px;
    border-color: #b9b9b9;
}

.button-right{
    width: 85px;
    height: 40px;
    background-color: #ebebeb;
    border-radius: 4px;
    border-color: #b9b9b9;
}